<ion-header>
  <ion-navbar color="laz-purple" style="border-bottom:2px solid #F2A900">
    <ion-title>Personal Information</ion-title>
    <ion-buttons end>
        <button ion-button (click)="next()"><b>Submit</b></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Taken from Zeeshan's login page -->
<ion-content>
    <div [ngSwitch]="state"> 
        <div *ngSwitchCase="'clubs'">
            <ion-list-header>Subscribe to clubs here</ion-list-header>
            <div class="flexbox" ion-list>
                <div class="selectionbox" *ngFor="let club of clubs">
                    <!--<div class="infobox" (click)="viewClub(club)"><img src="assets/img/info-icon.png"></div>-->
                    <div>
                        <img src="assets/img/{{club.app_logo}}" class="unchecked-clubs-page" (click)="toggle(club.id)" [ngClass]="{'checked-clubs-page':prefs.clubPrefs[club.id.toString()].selected, 'unchecked-clubs-page':!prefs.clubPrefs[club.id.toString()].selected}">
                    </div>
                </div>
            </div>
            <button ion-button block (click)="next()">Submit!</button>
        </div>
        <div *ngSwitchCase="'interests'">
            <ion-list-header>What are you interested in?</ion-list-header>
            <ion-card>
                <ion-list>
                    <ion-item *ngFor="let interest of interests">
                        <ion-label>{{interest.name}}</ion-label>
                        <ion-toggle laz-purple [(ngModel)]="prefs.interestPrefs[interest.name].selected"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-card>
            <button ion-button block (click)="next()">Submit!</button>
        </div>
        <div *ngSwitchCase="'personalinfo'">
            <img src="assets/img/LazSoc.png" style="width: 40%; margin-left: auto; margin-right: auto; display: block;">
            <ion-list>
                <ion-item>
                    <ion-label >First Name</ion-label>
                    <ion-input type="text" [(ngModel)]="userData.firstname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label >Last Name</ion-label>
                    <ion-input type="text" [(ngModel)]="userData.lastname"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label >MyLaurier Email</ion-label>
                    <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Year of study</ion-label>
                    <ion-select [(ngModel)]="userData.studyYear">
                        <ion-option *ngFor="let year of [1,2,3,4,5]">{{year}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Program</ion-label>
                    <ion-select [(ngModel)]="userData.program">
                        <ion-option *ngFor="let program of programOptions">{{program}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Wanna hear from us?</ion-label>
                    <ion-toggle color="laz-purple" checked="false"></ion-toggle>
                </ion-item>   
                <button ion-button block *ngIf="!isInit" (click)="submit()">Submit!</button>
                <button ion-button block *ngIf="isInit" (click)="next()">Submit!</button>
            </ion-list>
        </div>
    </div>
</ion-content>