<ion-header>
  <ion-navbar color="laz-purple">
    <ion-title>Personal Information</ion-title>
  </ion-navbar>
</ion-header>

<!-- Taken from Zeeshan's login page -->
<ion-content>
    <img src="img/lazsoc.png" style="width: 40%; margin-left: auto; margin-right: auto; display: block;">
    <ion-list>
         <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="userData.firstname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="userData.lastname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>MyLaurier Email</ion-label>
            <ion-input type="text" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Year of study</ion-label>
            <ion-select [(ngModel)]="userData.studyYear">
                <ion-option *ngFor="let year of [1,2,3,4,5]">{{year}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Program</ion-label>
            <ion-select [(ngModel)]="userData.program">
                <ion-option *ngFor="let program of programOptions">{{program}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Wanna hear from us?</ion-label>
            <ion-toggle color="laz-purple" checked="false"></ion-toggle>
        </ion-item>   
        <button ion-button block (click)="submit()">Submit!</button>
    </ion-list>
</ion-content>