<ion-header>
  <ion-navbar color="laz-purple" style="border-bottom:2px solid #F2A900">
    <ion-title>Set Preferences</ion-title>
    <ion-buttons end>
        <button ion-button (click)="savePrefs()" side="right">Save</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="laz-purple">
    <ion-segment style="background-color:rgba(66,44,137,1)" [(ngModel)]="view" color="laz-gold">
        <ion-segment-button value="clubs">
            Clubs
        </ion-segment-button>
        <ion-segment-button value="interests">
            Interests
        </ion-segment-button>
        <ion-segment-button value="personalinfo">
            Personal Info
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<!-- See newsfeed.html comments for insight on how ngSwitch works -->
<ion-content>
    <div [ngSwitch]="view"> 
        <div class="flexbox" ion-list *ngSwitchCase="'clubs'">
            <div class="selectionbox" *ngFor="let club of clubs">
                <div class="infobox" (click)="viewClub(club)"><img src="assets/img/info-icon.png"></div>
                <div>
                    <img src="{{club.app_logo}}" class="unchecked-clubs-page" (click)="toggle(club.id)" [ngClass]="{'checked-clubs-page':userData.clubPrefs[club.id-2].selected, 'unchecked-clubs-page':!userData.clubPrefs[club.id-2].selected}">
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'interests'">
            <ion-list-header>What are you interested in?</ion-list-header>
            <ion-card>
                <ion-list>
                    <ion-item *ngFor="let interest of interests">
                        <ion-label>{{interest.name}}</ion-label>
                        <ion-toggle laz-purple [(ngModel)]="userData.interestPrefs[interest.id].selected"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-card>
        </div>
        <div *ngSwitchCase="'personalinfo'">
            <personal-info></personal-info>
        </div>
    </div>
</ion-content>