<ion-header>
  <ion-navbar color="laz-purple">
    <img src="assets/img/gold_leaf.png" class="titleicon"/>
    <ion-buttons end>
        <button ion-button (click)="savePrefs()"><b>Save</b></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="laz-purple" style="height:42px" class="newsfeed-toolbar">
    <ion-segment style="background-color:rgba(66,44,137,1)" [(ngModel)]="view" color="pure-white">
        <ion-segment-button value="clubs">
            Clubs
        </ion-segment-button>
        <ion-segment-button value="interests">
            Interests
        </ion-segment-button>
        <ion-segment-button value="personalinfo">
            About Me
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<!-- See newsfeed.html comments for insight on how ngSwitch works -->
<ion-content>
    <div [ngSwitch]="view"> 
        <div *ngSwitchCase="'clubs'" style="padding-top:10px">
            <div class="flexbox" ion-list>
                <div class="selectionbox" *ngFor="let club of clubs">
                    <!-- <div class="infobox" (click)="viewClub(club)"><img src="assets/img/info-icon.png"></div> -->
                    <div *ngIf="prefs.clubPrefs.hasOwnProperty(club.id.toString()) && prefs.clubPrefs[club.id.toString()].selected">
                        <div class="infobox" (click)="toggle(club.id)" ><ion-icon name="md-checkmark-circle" color="laz-gold" style="font-size:24px"></ion-icon></div>
                        <img src="assets/img/{{club.app_logo}}" (click)="viewClub(club)" class="checked-clubs-page">
                    </div>  
                    <div *ngIf="prefs.clubPrefs.hasOwnProperty(club.id.toString()) && !prefs.clubPrefs[club.id.toString()].selected">
                        <div class="infobox" (click)="toggle(club.id)"><ion-icon name="ios-checkmark-circle-outline" color="rgba(0,0,0,0.2)" style="font-size:24px"></ion-icon></div>
                        <img src="assets/img/{{club.app_logo}}" (click)="viewClub(club)" class="unchecked-clubs-page">
                    </div>  
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'interests'" style="padding-top:10px">
            <ion-card>
                <ion-list>
                    <ion-item *ngFor="let interest of interests">
                        <ion-label>{{interest.name}}</ion-label>
                        <ion-toggle laz-purple [(ngModel)]="prefs.interestPrefs[interest.name].selected"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-card>
        </div>
        <div *ngSwitchCase="'personalinfo'">
            <personal-info></personal-info>
        </div>
    </div>
</ion-content>