// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$tabs-ios-tab-color-active: #F2A900;
$toolbar-md-height:44px;
$tabs-md-tab-padding: 5px 0 2px 0;
$tabs-md-tab-padding-active: 5px 0 0px 0;
$tabs-md-tab-icon-size:2.2rem;
$tabs-md-tab-min-height:3.2rem;
$tabs-md-tab-font-size: 10px;
$tabs-md-tab-font-size-active:12px;
//$tabs-md-tab-text-margin-active:0px;

$button-md-text-transform:none;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  facebook:   #3B5998,
  twitter:    #00ACED,
  instagram:  #C42DA5,
  snapchat:   #EEEE00,
  youtube:    #BB0000,
  laz-gold:   #F2A900,
  laz-purple: rgba(66,44,137,1)
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "../theme/global.scss";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
