// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/v2/theming/
.flexbox{
	flex-wrap:wrap;
	display:flex;
	flex-direction:row;
}
.imgbox{
    border-radius:10px;
	width:15%;
    height:100%;
}
.selectionbox{
	position:relative;
	width:33.3%;
	padding:2px 4px;

	img{
		border-radius:10px;
	}
}
.unchecked-clubs-page {
	background-color:white;
	border:2px solid rgba(0,0,0,0.2);
}
.checked-clubs-page {
	background-color:white;
	border:2px solid #F2A900;
}
.newsfeed-toolbar{
	border-top:2px solid #F2A900;
	text-align:center;
}
.infobox{
	position:absolute;
	transform: translateY(20%) translateX(25%);
	width:20%;
	height:20%;
}
.infobox img{	
	width:75%;
}
.divider-component {
    background-color:#e6e6e6;
    border-style:solid;
    border-color: black;
}
.lazsoc_banner {
	width:100%; 
	padding:0px; 
	display: block;
}
.word-wrap {
    word-wrap: break-word !important; 
	white-space: initial !important;
}

.fb-button{
	margin-top:0px;
	padding-right:5px;
	background-color: #3B5998;
	// word-wrap: break-word !important;
	text-align:center;
	flex:1;
}

.event-bar{
	margin-top:1%;
	margin-right:2%;
	margin-left:2%;
	display:flex;
}
.event-title{
	margin-top:0;
	// word-wrap: break-word !important;
	background-color:rgba(66,44,137,1);
	text-align:center;
}
.calendar-button{
	margin:0;
	background-color: #0747af;
	flex:1;
	ion-icon{
		font-size:20px;
	}
}

.newsfeed-segment{
    background-color:rgba(66,44,137,1);
}
.lazsoc_tabs{
    padding:0px;
}
.lazsoc-tab{
    padding:0px;
}
.saved-event {
    //border:2px solid rgba(93, 252, 141,1);
    box-shadow: 0 2px 2px 0 rgba(93, 252, 141,1), 0 3px 1px -2px rgba(93, 252, 141,1), 0 1px 5px 0 rgba(93, 252, 141,1);
}

.button-fab{
    position:fixed;
}
.bottom-right{
    right: 30px;
    bottom: 80px;
}

//This needs to be fixed
.platform-ios .md ion-nav > .ion-page > .toolbar.statusbar-padding:first-child, .md ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .md ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child, .md ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child, .md ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child, .md ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
	padding-top: 0;
    min-height: 42px;
}

.titleicon{
	display:inline-block;
	position:fixed;
	top:0%;
	height:100%;
	left:50%;
	transform: translateX(-50%);
}

.text-center{
	
	position:fixed;
	top:0%;
	left:50%;
	transform: translateX(-50%);
}

.popoverClass{
	width:300px;
}
.imgbox2{
	border-radius:10px;
	width:10%;
}
img.imgbox2.lazsoc_event_img {
	position: absolute; 
	top: 0; 
	bottom: 0 ; 
	margin: auto ; 
	width: auto ;
    height: auto ;
}
.titleFont{
	font-weight:bold;
	font-size:16px;
	color:white;
}
.discountHeader{
	height:44px;
}