<ion-header>
  <ion-navbar color="laz-purple">
    <ion-title><b>Lazaridis Students' Society</b></ion-title> 
  </ion-navbar>
      <ion-segment color="light" [(ngModel)]="view" class="newsfeed-segment"> <!-- view is a variable that determines what view to show -->
        <ion-segment-button value="custom" class="newsfeed-segment-button">
            My Newsfeed
        </ion-segment-button>
        <ion-segment-button value="all" class="newsfeed-segment-button"> <!-- value="all" binds "all" to the view variable -->
           All
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content>
    <!--Pull to refresh implementation-->
    <ion-refresher (ionRefresh)="doRefresh($event)"><ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content></ion-refresher>
    
    <div *ngFor="let event of events">
        <!--Styling the newsfeed items -->
        <ion-card style="border-style:solid black"  *ngIf="view=='all' || (view=='custom' && event.visible) || (view=='saved')">
            <img src="{{event.banner}}" ng-show="event.banner"  (click)="viewEvent(event)"/>
            <ion-card-content style="padding:1.5%"  (click)="viewEvent(event)">
                <ion-card-title >
                    {{event.title}}
                </ion-card-title>   
                <p>{{event.startTime}} | {{event.location}}</p>
                <p>{{event.tagline}}</p>
            </ion-card-content>
            
            <ion-row>
                <ion-col>
                    <button ion-button primary clear small (click)="addToCalendar(event)">
                        <ion-icon name="md-calendar"></ion-icon>
                        <div>Add to Calendar</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button primary clear small>
                        <ion-icon name="logo-facebook"></ion-icon>
                        <div>Facebook page</div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>
