<ion-header>
  <ion-navbar color="laz-purple" class="discountHeader" style="border-bottom:2px solid #F2A900">
    <img src="assets/img/gold_leaf.png" class="titleicon"/>
  </ion-navbar>
</ion-header>

<ion-content>
    <img src="assets/img/{{club.app_banner}}" *ngIf="!event.banner || event.banner==''" style="display: block">
    <img src="{{event.banner}}" *ngIf="event.banner" style="display: block">
    <div class="event-bar">
        <button ion-button class="fb-button" *ngIf="event.facebook_event_link != ''" (click)="openLink(event.facebook_event_link)">Facebook</button>
        <button ion-button (click)="addToCalendar()" class="calendar-button"><ion-icon color="pure-white" name="md-calendar"></ion-icon>&nbsp;Add to Calendar</button>
    </div>
    <ion-card>
        <ion-card-header class="event-title"><b>{{event.title}}</b></ion-card-header>
        <ion-list style="padding:none; margin-top:0px; display:block">
        <div *ngIf="!multiDay">
            <ion-item class="datetime">
                <ion-icon name="md-calendar" style="width:15px"></ion-icon>
                <span style="white-space: initial; font-size:15px">{{event.start_date_time | getLongDate}}</span>
            </ion-item>
            <ion-item class="datetime">
                <ion-icon name="md-time" style="width:15px"></ion-icon>
                <span style="white-space: initial; font-size:15px">{{startTime}} - {{endTime}}</span>
            </ion-item>
        </div>
        <div *ngIf="multiDay">
            <ion-item style="height:40px">
                <span style="font-size:13.5px"><b>Start:</b> {{event.start_date_time | getLongDate}} {{startTime}}</span>
            </ion-item>
            <ion-item style="height:40px">
                <span style="font-size:13.5px"><b>End:</b> {{event.end_date_time | getLongDate}} {{endTime}}</span>
            </ion-item>
        </div>
            <ion-item>
                <ion-icon name="md-pin" style="width:15px"></ion-icon>
                <span style="font-size:15px">{{event.location}}</span>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
    <ion-card-content>{{event.event_description}}</ion-card-content>
    </ion-card>
</ion-content>