<ion-header>
  <ion-navbar color="laz-purple" style="border-bottom:2px solid #F2A900">
    <ion-title>{{event.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <img src="assets/img/{{club.app_banner}}" *ngIf="!event.banner || event.banner==''" style="display: block;">
    <img src="assets/img/{{event.banner}}" *ngIf="event.banner" style="display: block;">
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-icon name="md-time"></ion-icon>
                <span style="word-wrap: break-word; white-space: initial;">{{event.start_date_time | getLongDate}} - {{getTime(event.end_date_time)}}</span>
            </ion-item>
            <ion-item>
                <ion-icon name="md-pin"></ion-icon>
                <span style="word-wrap: break-word; white-space: initial;">{{event.location}}</span>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-card-header><b>{{event.title}}</b></ion-card-header>
        <ion-card-content>{{event.event_description}}</ion-card-content>
    </ion-card>
    <ion-fab bottom right>
        <button ion-fab color="facebook" *ngIf="event.facebook_event_link != ''" (click)="openLink(event.facebook_event_link)"><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab color="secondary" (click)="addToCalendar()"><ion-icon name="md-calendar"></ion-icon></button>
    </ion-fab>
</ion-content>