.event-bar{
	margin-top:1%;
	margin-right:2%;
	margin-left:2%;
	display:flex;
}
// .event-title{
// 	margin-top:0;
// 	// word-wrap: break-word !important;
// 	background-color:rgba(66,44,137,1);
// 	text-align:center;
// }

.event-title {
	padding-bottom:0px;
}

.datetime {
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}