<ion-header>
  <ion-navbar color="laz-purple"> 
    <img src="assets/img/gold_leaf.png" class="titleicon"/>
        <ion-buttons end>
        <button ion-button (click)="toggleFeed()">
            <b color="pure-white">{{feedType}}</b>
            <ion-icon name="ios-funnel"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  <!-- Handles the buttons at the top -->
  <ion-toolbar class="newsfeed-toolbar" color="laz-purple" style="height:42px">
      <ion-segment color="pure-white" [(ngModel)]="timeframe">
          <ion-segment-button value="past">Past</ion-segment-button>
          <ion-segment-button value="thisweek">This Week</ion-segment-button>
          <ion-segment-button value="upcoming">Upcoming</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content> 
    <!--Pull to refresh implementation-->
    <ion-refresher (ionRefresh)="doRefresh($event)"><ion-refresher-content
      pullingIcon="arrow-dropdown" 
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content></ion-refresher>


    <div *ngIf="hasEvents()">
        <div *ngFor="let time_period of events | mapToIterable">
            <!--A messy workaround. I was hoping I could just access 'let object of events[timeframe] | mapToiterable', but it won't let me -->
            <!--Instead, I have to loop through all 3 timeframes in events and only view the one where the key matches timeframe-->
            <div *ngIf="time_period.key === timeframe"> 
                <div *ngFor="let object of time_period.val | mapToIterable">
                    <ion-list-header class="divider" *ngIf="(feedType=='All' || (feedType=='Custom' && object.val.visible))">
                        {{object.val.divider}}
                    </ion-list-header>
                    <div *ngFor="let event of object.val.events" style="margin-top: 0px;">
                        <!--Styling the newsfeed items -->
                        <ion-card class="newsfeed-item" *ngIf="feedType=='All' || (feedType=='Custom' && event.visible)">
                            <img [src]="event.banner" *ngIf="!(event.banner == null || event.banner === '') && isValidURL(event.banner)" (click)="viewEvent(event)">
                            <img src="assets/img/{{clubs[event.club_id.toString()].app_banner}}" (click)="viewEvent(event)" *ngIf="event.banner == null || event.banner == ''"/>
                            <ion-card-content style="padding:1.5%"  (click)="viewEvent(event)">
                                <ion-card-title style="font-size:18px; padding-bottom:0px">
                                    <b>{{event.title}}</b>
                                </ion-card-title>
                                <p style="font-size:12px">{{event.start_date_time | getLongDate}} | {{event.location}}</p>
                                <p>{{event.sub_heading}}</p>
                                <p *ngIf="event.basedOn !='' && feedType == 'Custom'" style="font-size: 12px">Based on your interest in <b>{{event.basedOn}}</b></p>
                            </ion-card-content>
                            
                            <ion-row>
                                <ion-col>
                                    <button ion-button primary clear small (click)="addToCalendar(event)">
                                        <ion-icon name="md-calendar"></ion-icon>
                                        <div>&nbsp; Add to Calendar</div>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button ion-button primary clear small *ngIf="event.facebook_event_link != ''" (click)="openLink(event.facebook_event_link)">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                        <div>&nbsp; Facebook page</div>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hasEvents()" style="text-align:center">
        <span style="font-size:15px; color:gray">
            <br/>
            Looks like there's nothing here :( <br/>
            Check back again soon, or update your preferences!
        </span>
    </div>
</ion-content>
